# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyD0KWoQ_uQtIxksx-CIskur1S615pDufD4" 
VITE_FIREBASE_AUTH_DOMAIN="crypto-world-c1fe2.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="crypto-world-c1fe2"
VITE_FIREBASE_STORAGE_BUCKET="crypto-world-c1fe2.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="11867512536"
VITE_FIREBASE_APP_ID="1:11867512536:web:c24b13500db8e98952c1ad"
VITE_FIREBASE_MEASUREMENT_ID="G-JEM2X84ZB5"

# Alchemy Configuration (Using the key you shared earlier)
VITE_ALCHEMY_API_KEY="ZJNf33Hk7Dj5Jm5b5wH5yKCfWKAPeUWG"
VITE_RPC_URL="https://eth-mainnet.g.alchemy.com/v2/ZJNf33Hk7Dj5Jm5b5wH5yKCfWKAPeUWG"
VITE_WS_URL="wss://eth-mainnet.g.alchemy.com/v2/ZJNf33Hk7Dj5Jm5b5wH5yKCfWKAPeUWG"

VITE_RPC_HTTPS_PRIMARY="https://lb.drpc.live/ethereum/ArXNI9xqxEz2gaT09FuPJ0ZK2MZtRGAR8Z04tiKh6MJI"
VITE_RPC_HTTPS_SECONDARY="https://rpc.ankr.com/eth/b47b6045360392637fba35c217923ca8642d38d07d0ab90e6ecbdefcb2bccbcf"
VITE_RPC_HTTPS_TERTIARY="https://ethereum-mainnet.core.chainstack.com/6759ef0c6cf1f256e681140ac76f3342"
VITE_RPC_WSS_LIVE="wss://eth-mainnet.g.alchemy.com/v2/ZJNf33Hk7Dj5Jm5b5wH5yKCfWKAPeUWG"